#title-table{
    text-align: center;
}

#table-users{
  width: 80%;    
  margin: 20px auto;
  border: 1px solid black;
  background-color:lightgray;
}

#table-users td{
	border:2px solid black;
    text-align: center;
}

#table-users th{
  color:blue;
  font-size: 1.5em;
  font-style: italic;  
}

#table-users th{
  height: 30px;
  }
  