<h1 id="title-table">{{title}}</h1>

<table id="table-users">
  <thead>
    <th>nombre</th><th>correo</th>
  </thead>  
  </tr>
{{#each list}}
  <tr>      
     <td>{{name}}</td><td>{{email}}</td> 
  </tr>   
{{/each}}
</table>

